---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a
	href={href}
	class:list={[className, 'bg-[#ffffff] text-[#000000] border-b border-[#f0f0f0]']}
	{...props}
>
	<slot />
</a>
