---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Ava from '@src/assets/img/ava.jpg';
import Prose from '../components/Prose.astro';

---


<style>
  .no-underline a {
    text-decoration: none !important;
    color: #0000ff;
  }
</style>


<BaseLayout
	title="About Me"
	description="Haotian Wang"
>
  <div class='container'>
		<main class='prose text-lg dark:prose-invert'>
      <article>
        <div class='w-full md:flex md:items-center gap-16 mb-10'>
          <div class="text-pretty leading-9">
            <h1 class="text-4xl font-bold mb-4 text-[#000000]">About</h1>
            <Prose>
              <div class="text-lg">
              <p class="no-underline">
                <br><br>
                Hello! My name is Chris Wang, and I am currently a Master’s student in the <a href="https://cse.nd.edu/">Computer Science and Engineering</a> department at the <a href="https://www.nd.edu/">University of Notre Dame</a>. I am originally from Anhui, China and have been living in the United States for 10 years.
                I attended <a href="https://www.fryeburgacademy.org/">Fryburg Academy</a> High School and began my undergraduate studies at <a href="https://www.union.edu/">Union College</a>. Later, I transferred to <a href="https://www.newschool.edu/parsons/">Parsons School of Design</a>, where I majored in <a href="https://www.newschool.edu/parsons/bfa-communication-design/">Communication Design</a> with a focus on Graphic Design and Front-End Development. During my graduate studies at Notre Dame, I worked in the <a href="https://www.epochlab.org/">Epoch Research Lab</a> under <a href="https://engineering.nd.edu/faculty/karla-badillo-urquiola/">Karla Badillo-Urquiola</a>.</p>
                <br><br>
                <h2>Interest</h2>
                <h3>Sports</h3>
                From early age, I've enjoy playing and watching football, basketball, hockey. Huge New York sports fan.
                <ul class="no-underline">
                  <li><a href="https://fightingirish.com/">Notre Dame Athletics</a>: Every year is a return to glory...</li>
                  <li><a href="https://www.buffalobills.com/">Buffalo Bills</a>: Go Bills!</li> 
                  <li><a href="https://www.nba.com/knicks/">New York Knicks</a>: New York or Nowhere.</li>
                </ul>
                <h3>Music</h3>
                Lately I'm into grunge, metalcore and ambient EDM music. I've also trained in classical piano growing up.
                <ul class="no-underline">
                  <li><a href="https://open.spotify.com/user/31xbwyiua2g453d7oqmnaysp63he?si=c685c1befcf744d5">Spotify</a>: Where I curated monthly playlist.</li>
                </ul>
                <br>
                <h2>Hobbies</h2>
                <ul class="no-underline">
                  <li>Playing games, right now I'm playing <a href="https://en.wikipedia.org/wiki/Dark_Souls_III">Dark Souls III</a>.</li>
                  <li>My system programming professor once said in lecture:" Don't lie to me, I know you guys don't write programs for fun." Well, not 100% true. I make websites for fun.</li> 
                  <li>I like to read about design.</li>
                  <li>Though occupied, I enjoy cooking.</li>
                </ul>
                <br>
                <h2>Simple Pleasures</h2>
                Head to toe black, chronically online, frozen green grapes, oyster in a half shell, cooking healthy good, petrichor, thunderstorm, big trees, tall mountains, waterbody, frog spotting, finding a cat in the wild
                <br><br><br><br><br><br>
                <p class="no-underline">This website was built with <a href="https://astro.build/">Astro</a> and hosted on <a href="https://pages.github.com/">Github Pages</a>. My previous website could be found <a href="https://prof24.netlify.app/">here</a>. 
              </p> 
              </div>
            </Prose>
          </div>
          <Image src={Ava} alt="Muhammad Syakirurohman" width={300}  class="rounded-3xl rotate-3 mx-4 md:mx-0"/>
        </div>     
      </article>
    </main>
  </div>
</BaseLayout>
